.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1;
  min-width: 300px;
  color: white; /* Cor do texto para garantir legibilidade */
}

.card-resumo {
  background-color: #4caf50; /* Verde */
}

.card-previsao {
  background-color: #ff9800; /* Laranja */
}

.card-excedidas {
  background-color: #f44336; /* Vermelho */
}

.list-container {
  margin-top: 20px;
}

.nz-list-item-meta-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ponto-icon {
  font-size: 20px;
  color: #1890ff; /* Azul padrão do NG-ZORRO */
}

.actions {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Alinha as ações à direita */
}

.actions button {
  padding: 0;
  border: none;
  background: none;
}

.nz-list-item-meta-description {
  color: #666; /* Cor do texto da descrição */
  flex: 1; /* Faz com que a descrição ocupe o espaço disponível */
}

.entrada .ponto-icon {
  color: #4caf50; /* Verde para entrada */
}

.saida .ponto-icon {
  color: #f44336; /* Vermelho para saída */
}
