<div class="container">
  <button nz-button nzType="primary" (click)="entrarCadastro()">
    Novo Tipo Contrato
  </button>

  <nz-table
    #basicTable
    [nzData]="tiposContrato"
    [nzPageIndex]="1"
    [nzPageSize]="10"
    [nzLoading]="loading"
    nzShowPagination="true"
  >
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Destrição</th>
      <th scope="col">Horas</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let tipoContrato of tiposContrato">
        <td>{{ tipoContrato.id }}</td>
        <td>{{ tipoContrato.nome }}</td>
        <td>{{ tipoContrato.descricao}}</td>
        <td>{{ tipoContrato.horasDia }}</td>

        <td>
          <a [routerLink]="['/perfis/update', tipoContrato.id]">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar tipoContrato"
            ></i>
          </a>
          <a [routerLink]="['/perfis/delete', tipoContrato.id]">
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar tipoContrato"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

