<div class="container">
  <nz-spin [nzSpinning]="carregandoTipoPonto">
    <div *ngIf="!pontoRegistrado">
      <div class="relogio">
        <h2>{{ dataAtual | date: 'fullDate' }}</h2>
        <h1>{{ dataAtual | date: 'HH:mm:ss' }}</h1>
      </div>
      <div class="botoes">
        <button nz-button nzType="primary" (click)="registrarPonto()">Registrar Ponto de {{ tipoPonto }}</button>
        <button nz-button nzType="default" (click)="cancelar()">Cancelar</button>
      </div>
    </div>

    <nz-result *ngIf="pontoRegistrado" nzStatus="success" nzTitle="Ponto Registrado com Sucesso" nzSubTitle="Seu ponto foi registrado com sucesso.">
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="cancelar()">Voltar</button>
      </div>
    </nz-result>
  </nz-spin>
</div>
