.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.usuario-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row nz-form-item {
  flex: 1;
}

.date-picker {
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
